{% extends 'spot_deals/base.html' %}

{% block content %}
<p> Страница добавления сделки </p>
<div class="add-spot-deal-container">
	<div>SSSSSSSSSSSSSSSSSSSSSSSS</div>
	<div class="add-spot-deal-column">
		<div class="add-spot-deal-item">
			<p>            Актив</p>
			<p>      Дата сделки</p>
			<p>   Сторона сделки</p>
			<p>      Комментарий</p>
			<p>            Биржа</p>
			<p>     Цена покупки</p>
			<p>Количество актива</p>
			<p>            Сумма</p>
			<p>         Комиссия</p>
		</div>
	</div>
	<div class="add-spot-deal-column">
		<div class="add-spot-deal-item">
			<p>SSSSSSSSSSSSSSSSSSSSSSSS</p>
			<p>SSSSSSSSSSSSSSSSSSSSSSSS</p>
			<p>SSSSSSSSSSSSSSSSSSSSSSSS</p>
			<p>SSSSSSSSSSSSSSSSSSSSSSSS</p>
			<p>SSSSSSSSSSSSSSSSSSSSSSSS</p>
			<p>SSSSSSSSSSSSSSSSSSSSSSSS</p>
			<p>SSSSSSSSSSSSSSSSSSSSSSSS</p>
			<p>SSSSSSSSSSSSSSSSSSSSSSSS</p>
			<p>SSSSSSSSSSSSSSSSSSSSSSSS</p>
		</div>
	</div>
</div>
<h1></h1>
{% endblock %}
